<div class="card">
  <div class="card-header">
    <a routerLink="/add" class="btn btn-new float-left">New</a>
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" class="form-control" placeholder="Search contacts">
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>
            <a [routerLink]="['/edit', contact.id]" class="btn btn-primary btn-sm">Edit</a>
          </td>
          <td>
            <button (click)="deleteContact(contact.id)" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': pageNumber === 1}">
          <a class="page-link" (click)="changePage(pageNumber - 1)">Previous</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': pageNumber === totalPages}">
          <a class="page-link" (click)="changePage(pageNumber + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
